body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    object-fit: cover;
    z-index: -1;
}

button {
    padding: 12px 24px;
    font-size: 28px;
    border-radius: 10px;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff3366;
}

#love-message {
    font-size: 30px;
    color: #ff3366;
    font-weight: bold;
    display: none;
}
